.contactLogo {
    position: fixed;
    right: 20px;
    top: 40%;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50px; /* Ajustez la largeur du conteneur logo en fonction de vos besoins */
    height: 50px; /* Ajustez la hauteur du conteneur logo en fonction de vos besoins */
    position: relative;
}

.icon {
    position: relative;
}

.circle {
    width: 115%; /* Ajustez la taille du cercle en fonction de vos besoins */
    height: 112%; /* Ajustez la taille du cercle en fonction de vos besoins */
    background-color: #fff; /* Remplacez cela par la couleur que vous souhaitez */
    border-radius: 50%;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrer le cercle */
    z-index: -1; /* Pour placer le cercle derrière l'image */
}

.logo .linkedin img,
.logo .github img,
.logo .email img {
    width: 100%; /* La taille de l'image prend la largeur du conteneur .logo */
    height: auto; /* La hauteur s'ajuste automatiquement pour maintenir le ratio d'aspect original */
    max-width: none; /* Ajuste la largeur maximale */
    max-height: none; /* Ajuste la hauteur maximale */
    object-fit: cover; /* Ajuste la taille de l'image sans déformation tout en couvrant le conteneur */
    z-index: 1; /* Assurez-vous que l'image est au-dessus du cercle coloré */
}

.logo .icon {
    margin-bottom: 20px; /* Ajustez la marge selon vos besoins pour ajouter de l'espace vertical entre les icônes */
}

.icon img:hover {
    opacity: 0.8;
    animation: 1s ease-in-out 0s normal none infinite running pulse;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


@media (max-width: 725px) {
    .contactLogo {
        display: none;
    }
}