* {
    margin: 0px;
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: 	#E0E0E0;
    min-width: 700px;
}
header {
    height: fit-content;
    background-image: linear-gradient(to bottom right, #282828 70%, #101010 30%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 100%;
    padding: 0.75%;
}
header div:nth-child(2) > img {
    width: 70px;
    height: 90px;
    margin-left: 2%;
    margin-bottom: 1%;
    margin-right: 3%;
    border-radius: 20px;
}
header>div:first-child h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
header div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 100%;
}
header div:nth-child(2) div {
    display: inline;
    margin-left: 1%;
}
header div:nth-child(2) div:nth-child(3) a {
    align-items: end;
}

header div:nth-child(2) div:nth-child(3){
    margin-right: 2%;
}

header div:nth-child(2) div:nth-child(2) div{
    display: flex;
    justify-content: start;
    margin: 0px;
}

header div:nth-child(2) div:nth-child(2) div img{
    height: 20px;
    width: 20px;
    margin-left: 1%;
}

header p, header a{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
header p, header h1{
    color:white;
}

body{
    animation: fadein 0.5s;
    -moz-animation: fadein 0.5s; /* Firefox */
    -webkit-animation: fadein 0.5s; /* Safari and Chrome */
    -o-animation: fadein 0.5s; /* Opera */
}
@keyframes fadein {
    from { opacity: 0.25; }
    to   { opacity: 1; }
}



main {
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

main article:nth-child(n) {
    margin: 2px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(to bottom right, #F8F8F8 30%, #E0E0E0 70%);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 2%;
}

main article:nth-child(2n){
    background-image: linear-gradient(to bottom right, #101010 70%, #282828 30%);
}

main article:nth-child(2n) p, main article:nth-child(2n) h3{
    color:	#F0F0F0;
}

main article:nth-child(n) {
    display: flex;
    flex-direction: row;
}

main article:nth-child(2n) {
    display: flex;
    flex-direction: row-reverse;
}

main article div:nth-child(1) {
    width: 30%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
}

main article div:nth-child(2) {
    width: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
main article div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
}

main article div:nth-child(2) h3{
    text-align: center;
    margin-bottom: 1%;
}

main article:first-child div:first-child img, main article:nth-child(3) div:first-child img{
    height: 140px;
}

main article:nth-child(2) div:first-child img{
    height: 200px;
    margin-right: 0px;
}

main article:nth-child(4) div:first-child img{
    height: 100px;
}

main article:nth-child(5) div:first-child img{
    height: 200px;
}

main article:nth-child(6) div:first-child img{
    height: 180px;
}
main p{
    margin: 1%;
}
main article:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

main article img:hover{
    cursor: pointer;
}

a:hover{
    color:goldenrod;
    transition: 0.5s;
    cursor: pointer;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
h3{
    font-size: 30px;
}
a{
    color:red;
}

footer{
    position: fixed;
    bottom: 30px;
    right: 10px;
    margin-right: 1%;
    margin-bottom: 1%;
}
footer button{
    color: white;
    background-color: black;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
footer button{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, 
    rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
footer button:hover{
    background-color: #F0F0F0;
    color: black;
}
footer button:hover{
    animation: 1s ease-in-out 0s normal none infinite running pulse;
}

.contact-bubble {
    position: fixed;
    bottom: 140px;
    right: 40px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .contact-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 28px;
    text-decoration: none;
  }
  
  .contact-icon.github {
    background-color: #333;
  }
  
  .contact-icon.discord {
    background-color: #7289DA;
  }
  
  .contact-icon.instagram {
    background-color: #C13584;
  }
  
  .contact-icon.linkedin {
    background-color: #0077B5;
  }
  
  .contact-icon:hover {
    opacity: 0.8;
  }

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


@media (max-width: 1200px) {
    main {
        width: 85vw;
    }
}

@media (max-width: 1000px) {
    main{
        width: fit-content;
    }
    main article:nth-child(n) {
        margin-top: 3%;
    }
    main article div:nth-child(n) {
        width: 50%;
    }
    main article div:nth-child(2n) {
        width: 50%;
        padding: 1%;
    }
    main article{
        margin: 0%;
    }
    header {
        width: 100%;
        margin-top: 0.5%;
        margin-bottom: 0.5%;
        padding : 3%;
    }
    h3{
        font-size: 40px;
    }
    p{
        font-size: 30px;
    }
}
@media print{
    header div:nth-child(2) div:nth-child(3){
        display: none;
    }
}